<a href="https://colab.research.google.com/github/Chaakash16/Python-Basics/blob/main/Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Theoritical Questions**

Q1. What are data structures, and why are they important?

Ans. Data structures are ways of organizing and storing data efficiently, enabling fast access, modification, and processing for various applications.

Q2. Explain the difference between mutable and immutable data types with examples.

Ans. Mutable data types can be modified after creation (e.g., lists, dictionaries), while immutable types cannot be changed once created (e.g., strings, tuples).

Q3. What are the main differences between lists and tuples in Python?

Ans. The main differences between lists and tuples in Python are that lists are mutable (can be modified), while tuples are immutable (cannot be modified).

Q4.  Describe how dictionaries store data.

Ans. Dictionaries store data as key-value pairs, where each key is unique and maps to a corresponding value.

Q5. Why might you use a set instead of a list in Python?

Ans. You might use a set instead of a list in Python to store unique elements and take advantage of faster membership tests and set operations like union and intersection.

Q6. What is a string in Python, and how is it different from a list?

Ans. A string in Python is an immutable sequence of characters, whereas a list is a mutable collection of elements that can store different data types.

Q7. How do tuples ensure data integrity in Python?

Ans. Tuples ensure data integrity in Python by being immutable, meaning once created, their contents cannot be changed, preventing accidental modifications.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table is a data structure that stores key-value pairs and uses a hash function to compute the index for storing the values, and in Python, dictionaries are implemented using hash tables to provide fast access to data.

Q9. Can lists contain different data types in Python?

Ans. Yes, lists in Python can contain different data types, allowing elements of various types (e.g., integers, strings, floats) to be stored together in a single list.

Q10. Explain why strings are immutable in Python.

Ans. Strings are immutable in Python to ensure data integrity, improve performance (by allowing string interning and caching), and make them safe to use as keys in dictionaries or elements in sets.

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Dictionaries offer faster lookup times (O(1) average time complexity) for key-based access, while lists require linear time (O(n)) for searching, making dictionaries more efficient for tasks involving frequent lookups, updates, and associations of keys with values.

Q12. Describe a scenario where using a tuple would be preferable over a list.

Ans. A tuple would be preferable over a list when you need to store a collection of items that should remain constant, such as coordinates (e.g., (x, y, z)), ensuring data integrity and preventing accidental modifications.

Q13. How do sets handle duplicate values in Python?

Ans. Sets automatically eliminate duplicate values in Python, ensuring that each element in a set is unique. If you try to add a duplicate element, it will not be included.

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans. In Python, the in keyword checks for membership differently:




*   For lists, it checks if an element is present in the list.
*   For dictionaries, it checks if a key is present in the dictionary.

Q15. Can you modify the elements of a tuple? Explain why or why not.

Ans. No, you cannot modify the elements of a tuple because tuples are immutable in Python, meaning their contents cannot be changed once they are created. This ensures data integrity and consistency.

Q16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary where the values are other dictionaries, used to represent hierarchical data, like storing information about employees in different departments.

In [2]:
#Example:

company = {"HR": {"Aakash": 30, "Jay": 25}, "IT": {"Rohit": 28, "Rahul": 35}}

Q17. Describe the time complexity of accessing elements in a dictionary.

Ans. The time complexity of accessing elements in a dictionary is O(1) on average, meaning it takes constant time to retrieve a value using its key, thanks to the underlying hash table implementation. However, in the worst case (e.g., hash collisions), it can degrade to O(n).

Q18.  In what situations are lists preferred over dictionaries?

Ans. Lists are preferred over dictionaries when you need an ordered collection of elements, require indexing by position, or when the elements are not associated with unique keys, such as when storing sequences or performing operations on ordered data.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because the items are stored based on a hash, not in any specific order. This means you can't rely on the order in which items were added, but you can still quickly access values using their unique keys.

Q20.  Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. The main difference between a list and a dictionary in terms of data retrieval is that:

*   In a list, data is accessed by its index (position), and you retrieve elements based on their order in the list.
*   In a dictionary, data is accessed by its key, allowing you to retrieve values directly using unique identifiers, without relying on order.

##**Practical Questions**

Q1. Write a code to create a string with your name and print it.

In [3]:
name = "Aakash"
print(name)

Aakash

Q2. Write a code to find the length of the string "Hello World".

In [4]:
string = "Hello World"
length = len(string)
print(length)

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

Q4. Write a code to convert the string "hello" to uppercase.

In [6]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
string = "I like apple"
modified_string = string.replace("apple", "orange")
print(modified_string)

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [13]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [14]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [15]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [17]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [18]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [19]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [20]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [21]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [22]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [23]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [24]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

Q23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [25]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Q24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [26]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}